.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #3A98B9;
  border: none;
  padding: 5px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  color: #FFF1DC;
  font-weight: normal;
  font-size: large;
}

li {
  padding: 10px;
}

p {
  display: inline;
  margin-right: 20px;
}

svg {
  color: rgba(27, 39, 107, 0.8);
}

ol{
  color: #3A98B9;
  font-size: large;
  background-color: #ffffff;
  border-radius: 15px;
}

