.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgba(139, 208, 255, 0.8);
  border: none;
  padding: 5px;
  height: 50px;
  margin: 5px;
}

li {
  padding: 10px;
}

p {
  display: inline;
  margin-right: 20px;
}

svg {
  color: rgba(27, 39, 107, 0.8);
}

