.card {
  display: flex;
  background-color: #3A98B9;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #FFF1DC;
  font-weight: normal;
  font-size: large;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

a {
  text-decoration: none;
  color: #FFF1DC;
}

.card:hover {
  box-shadow: 0 0 2px 2px #E1DDDD;
}
