<div class="parent-container">
  <h1>Мои курсеви</h1>
  <div class="container" *ngIf="this.activeUser?.userType=='STUDENT'">
    <a class="card" *ngFor="let s of studentCourses"
       routerLink="/details/{{s?.course?.id}}">
      Курс: {{s?.course?.name}}
    </a>
  </div>
  <div class="container" *ngIf="this.activeUser?.userType=='PROFESSOR'">
    <div class="card">
      <a *ngFor="let s of professorCourses"
         (click)="saveCourseAsCurrent(s?.course?.id)"
         routerLink="/details/{{s?.course?.id}}">
        Курс:
        <br>
        {{s?.course?.name}}
      </a>
    </div>
  </div>
</div>
