.header{
  display: flex;
  justify-content: space-between;
}

.parent-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

button{
  background-color: lightskyblue;
  border: none;
  padding: 5px;
  height: 50px;
  width: 100px;
  margin: 5px;
}
.login-form{
  display: flex;
  flex-direction: column;
}
input{
  width: 30%;
  height: 30px;
  margin: none;
}
