.header {
  display: flex;
  justify-content: space-between;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

button {
  background-color: #3A98B9;
  border: none;
  padding: 5px;
  height: 50px;
  width: 15%;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: #FFF1DC;
  font-weight: normal;
  font-size: large;
}

.login-form {
  display: flex;
  flex-direction: column;
}

input {
  width: 50%;
  height: 40px;
  margin: none;
  border-color: rgba(159, 168, 216, 0.5);
  border-radius: 5px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.radio {
  width: auto !important;
  height: 30px;
  margin: none;
}

.action-button {
  width: 50%
}

label {
  font-size: large;
  color: rgba(27, 39, 107, 0.8);
}

.form-check {
  display: flex;
}

.radio-button-group {
  display: flex;
  align-items: center;
}
#logo{
  width: 300px;
  height: 300px;
}
