.card{
  display: inline-block;
  background-color: #3A98B9;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 5px;
}
.container{
  display: flex;
}
.parent-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

button{
  background-color: #3A98B9;
  border: none;
  padding: 5px;
  height: 50px;
  width: 100px;
  margin: 5px;
  float: right;
  cursor: pointer;
}

.list{
  display: flex;
}
