.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
}

button {
  background-color: rgba(139, 208, 255, 0.8);
  border: none;
  padding: 5px;
  height: 50px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
  float: right;
  border-radius: 5px;
}

.add-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  color: rgba(27, 39, 107, 0.8);
}

input {
  width: 100%;
  height: 30px;
  margin: none;
  background-color: rgba(237, 238, 245, 0.8);
  font-size: 16px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 180px;
  margin: none;
  background-color: rgba(237, 238, 245, 0.8);
  border-color: rgba(159, 168, 216, 0.5);
  font-size: 16px;
  border-radius: 7px;
}

.btn-div {
  float: right;
}
ng-multiselect-dropdown{
  width: 97%;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    width: 97%;
    background-color: rgba(237, 238, 245, 0.8);
    font-size: 16px;
    border-radius: 5px;
}

