.container {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

button {
  background-color: rgba(116, 214, 232, 0.8);
  border: none;
  padding: 5px;
  height: 50px;
  margin: 5px;
}
