.title {
  color: #3A98B9;
}

button {
  border: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px;
  background-color: #3A98B9;
  cursor: pointer;
  font-weight: normal;
  font-size: large;
  color: #FFF1DC;
}

small {
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.arrows {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-right: 5px;
  color: #3A98B9;
}

.answer-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-card p {
  background-color: #3A98B9;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #FFF1DC;
  font-weight: normal;
  font-size: large;
}

.header {
  margin-top: 10px;
}

.content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

b {
  color: rgba(51, 64, 136, 0.8);
}
