.card {
  background-color: #3A98B9;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #FFF1DC;
  font-weight: normal;
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #3A98B9;
  border: none;
  padding: 5px 10px 5px 10px;
  height: 50px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
  color: #FFF1DC;
  font-weight: normal;
  font-size: large;
}

.buttons {
  display: flex;
}

.card:hover {
  box-shadow: 0 0 2px 2px #E1DDDD;
}
