.card {
  background-color: rgba(139, 208, 255, 0.8);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgba(139, 208, 255, 0.8);
  border: none;
  padding: 5px 10px 5px 10px;
  height: 50px;
  margin: 5px;
  border-radius: 7px;
}

.buttons {
  display: flex;
}

.card:hover {
  box-shadow: 0 0 2px 2px rgba(139, 208, 255, 0.8);
}
