.card{
  background-color: lightskyblue;
  margin: 10px;
  padding: 10px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
.header{
  display: flex;
  justify-content: space-between;
}
button{
  background-color: lightskyblue;
  border: none;
  padding: 5px;
  height: 50px;
  margin: 5px;
}
.buttons{
  display: flex;
}
