table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
  background-color: rgba(228, 236, 237, 0.8);
}

th {
  background-color: #3A98B9;
}

.table-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.table-title {
  text-align: center;
  margin-bottom: 10px;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
  color: rgba(27, 39, 107, 0.8);
  background-color: white;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
}

table{
  color: #FFF1DC;
}
