table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
  background-color: rgba(228, 236, 237, 0.8);
}

th {
  background-color: rgba(139, 208, 255, 0.8);
}

.table-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.table-title {
  text-align: center;
  margin-bottom: 10px;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
}
